.swap-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .swap-div {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    cursor: pointer;
    padding: 5px 10px;
  }
  
  li.selected {
    background-color: red;
    color:white;
  }
  
  button {
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  