/* Dark mode css */
:root{
    --dark-color: rgb(215, 253, 2);
    --dark-background:black;
    --light-color:rgb(0, 68, 255);
    --light-background:rgb(255, 255, 255);
}
body{
  padding:10;
  margin:0;
}
.light{
  background-color: var(--light-background);
  color:var(--light-color);
}
.dark{
  background-color: var(--dark-background);
  color:var(--dark-color);
}
/* Dark mode css */